.column {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.answerLabel {
  width: 100%;

  text-align: center;
  font-size: 2rem;
  font-family: var(--font-precise-japanese);
}

.divider {
  width: 60%;
  border-color: var(--color-third-font);
}
