html,
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(circle, #3b3b3b 0%, #000000 10%);
  background-position: bottom;
  background-size: 100% 300%;
  animation: backgroundFade 1s ease forwards;
}

@keyframes backgroundFade {
  from {
    background-position: left;
    background-size: 100% 300%;
  }
  to {
    background-position: center;
    background-size: 100% 100%;
  }
}
