.page {
  width: 100%;
  height: 100%;

  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background: none;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  box-sizing: border-box;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: left;

  display: flex;
  flex-direction: column;

  color: white;
  white-space: pre;
}

.japaneseTitle {
  font-size: 3rem;
  font-family: var(--font-kosugi-maru);
  font-weight: 400;

  margin: 1rem;
}

.englishTitle {
  font-size: 3rem;
  font-family: var(--font-rubik);
  font-weight: 400;

  margin-top: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  margin-left: 3rem;

  box-sizing: border-box;
}

.link {
  all: unset;
  width: fit-content;
}
