.page {
  width: 100%;
  height: 100%;

  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background: none;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  box-sizing: border-box;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: left;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 2rem;

  color: white;
  white-space: pre;
}

.japaneseTitle {
  font-size: 3rem;
  font-family: var(--font-kosugi-maru);
  font-weight: 400;
  text-wrap: wrap;

  animation: comeFromLeft 1s ease-out;
}

.englishTitle {
  font-size: 3rem;
  font-family: var(--font-rubik);
  font-weight: 400;
  text-wrap: wrap;

  animation: comeFromRight 1s ease-out;
}

@keyframes comeFromLeft {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  40% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes comeFromRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  40% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  box-sizing: border-box;
}

.link {
  all: unset;
  width: fit-content;
}

.responsiveImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 30rem;
  margin-top: 2rem;
}
