.page {
  width: 100%;
  height: 100%;

  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background: none;

  h1 {
    color: white;
  }
}

.japaneseTitle {
  font-size: 3rem;
  font-family: var(--font-kosugi-maru);
  font-weight: 400;

  margin: 1rem;
}

.japaneseTitlee {
  font-size: 3rem;
  font-family: var(--font-kaisei-decol), sans-serif;
  font-weight: 400;

  margin: 1rem;
}

.englishTitle {
  font-size: 3rem;
  font-family: var(--font-rubik);
  font-weight: 400;

  margin-top: 2rem;
}

.container {
  max-width: 48rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.link {
  all: unset;
  flex-grow: 1;
}
