.backButton {
  width: 2rem;
  height: 2rem;

  position: relative;

  box-sizing: border-box;
  border: 0.1rem solid var(--color-main-font);
  border-radius: 0.5rem;
  padding: 0.5rem;

  background-color: transparent;

  transition: 200ms;

  &:hover {
    border-radius: 1rem;
    background-color: var(--color-main-font);
  }

  &:hover .backIcon {
    filter: invert(1) brightness(0);
  }

  &:active .backIcon {
    filter: brightness(0) saturate(100%) invert(18%) sepia(53%) saturate(6512%)
      hue-rotate(338deg) brightness(71%) contrast(115%);
  }

  &:active {
    transform: scale(0.95);
  }
}
