.ServiceButton {
  width: fit-content;
  position: relative;
  overflow: hidden;

  border-radius: 1rem;
  padding: 0.1rem;
  box-sizing: border-box;
  background-color: var(--color-background);
  text-decoration: none;

  .inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    position: relative;
    z-index: 1;

    margin: 0.1rem;
    padding: 0.5rem;
    background: var(--color-background);
    border-radius: 1rem;

    label {
      vertical-align: middle;

      color: var(--color-second-font);

      text-align: center;
      text-decoration: none;
      font-size: 2rem;
    }
  }

  &::before {
    content: "";
    width: 150%;
    height: 100%;
    position: absolute;
    display: block;
    left: -25%;
    top: 0;
    z-index: 0;
    background: linear-gradient(
      transparent 0%,
      transparent 40%,
      var(--color-accent) 41%,
      var(--color-accent) 59%,
      transparent 60%,
      transparent 100%
    );

    opacity: 0;
    transform: rotate(0deg);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(180deg);
  }

  &:not(:hover)::before {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.title {
  font-family: var(--font-main-latin);
}

.japaneseTitle {
  font-family: var(--font-main-japanese);
}
