.page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  min-width: 15rem;
  max-width: 30rem;
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;

  color: var(--color-main-font);
  box-sizing: border-box;
  border-radius: 1rem;
  //border: 1px solid var(--color-main-font);
  padding: 1rem;
}

.row {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.column {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.grindButton {
  min-width: 15rem;
  min-height: 5rem;

  flex: 1;

  font-size: 3rem;
}

.meaningLabel {
  width: 100%;

  text-align: center;
  font-size: 2rem;
  font-family: var(--font-rubik);
}

.answerLabel {
  width: 100%;

  text-align: center;
  font-size: 2rem;
  font-family: var(--font-kosugi-maru);
}

.button {
  all: unset;
  min-width: 10rem;
  flex: 1;

  height: 3rem;

  font-family: var(--font-rubik);
  font-size: 2rem;
  text-align: center;

  user-select: none;
  border-radius: 1rem;

  transition: 200ms;
}

.checkButton {
  border: 0.2rem solid var(--color-main-font);
  color: var(--color-main-font);

  &:hover {
    background-color: var(--color-main-font);
    color: var(--color-background);
  }

  &:active {
    color: var(--color-accent);
    transform: scale(0.95);
    border-radius: 2rem;
  }
}

.mistakeButton {
  border: 0.2rem solid var(--color-error);
  color: var(--color-error);

  &:hover {
    background-color: var(--color-error);
    color: var(--color-background);
  }

  &:active {
    transform: scale(0.95);
    border-radius: 2rem;
  }
}

.correctButton {
  border: 0.2rem solid var(--color-success);
  color: var(--color-success);

  &:hover {
    background-color: var(--color-success);
    color: var(--color-background);
  }

  &:active {
    transform: scale(0.95);
    border-radius: 2rem;
  }
}

.buttonsRow {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.divider {
  width: 60%;
  border-color: var(--color-third-font);
}

.finished {
  font-family: var(--font-rubik);
  margin: 0.5rem;
}
.finishedJapanese {
  font-family: var(--font-kaisei-decol);
  margin: 0.5rem;
}
.finishedMessage {
  font-family: var(--font-rubik);
  font-weight: 500;
  font-size: 1.5rem;

  color: var(--color-second-font);
}

.returnButton {
  all: unset;
  width: 100%;

  color: var(--color-success);
  border: 0.2rem solid var(--color-success);
  border-radius: 1rem;
  cursor: pointer;
  user-select: none;

  text-align: center;
  font-family: var(--font-kaisei-decol);
  font-size: 2rem;

  transition: 200ms;

  &:hover {
    background-color: var(--color-success);
    color: var(--color-background);
  }

  &:active {
    transform: scale(0.95);
    border-radius: 2rem;
  }
}

.loading {
  font-family: var(--font-rubik);
}
